<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <style>
      <%= File.read(File.join(site.source, "resume.css")) %>
    </style>
  </head>
  <body class="<%= data.layout %> <%= data.page_class %>">
    <%= yield %>
  </body>
</html>
