<header>
</header>
<nav>
  <ul>
    <li><a href="<%= relative_url '/' %>">Home</a></li>
    <li><a href="<%= relative_url '/posts' %>">Posts</a></li>
    <li><a href="<%= relative_url '/out-and-about' %>">Out And About</a></li>
    <li><a href="<%= relative_url '/resume' %>?changed=<%= Time.now.to_i %>">Resume</a></li>
    <li class="nav-search" data-controller="search"></li>
  </ul>
</nav>
