<article class="h-entry">
  <h2><a href="<%= @url %>"><%= @title %></a></h2>
  <aside role="note">
    <time class="dt-published" datetime="<%= @date.to_s %>"><%= @date.strftime("%B %d, %Y") %></time>
    · <%= @reading_time %> min read
  </aside>
  <p class="p-summary">
    <%= @body %> <a class="u-url" href="<%= @url %>">Continue reading…</a>
  </p>
</article>
